body { background: #a4a8ab; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 57px; display: flex; }
.block-uploader-0 { color: #f27ea8; font-size: 16px; margin-bottom: 5px; }
.block-config-1 { color: #50495e; font-size: 20px; margin-bottom: 5px; }
.block-shipping-2 { color: #7da1d7; font-size: 16px; margin-bottom: 5px; }
.block-filter-3 { color: #554dad; font-size: 20px; margin-bottom: 5px; }
.block-cluster-4 { color: #a6ae6d; font-size: 18px; margin-bottom: 5px; }
.block-cart-5 { color: #48eb8d; font-size: 16px; margin-bottom: 5px; }
.block-token-6 { color: #7c2bdc; font-size: 18px; margin-bottom: 5px; }